body{
  overflow: hidden;
}

.sub-tabs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* مقدار دلخواه برای فاصله بین زیرتب‌ها */
  }
  
  .sub-tab {
    flex: 1;
    text-align: center;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .sub-tab img {
    max-width: 100%;
    height: auto;
    margin-bottom: 8px;
  }

  body{
    overflow: hidden;
  }
  
  .headerTitle {
    text-align: center;
    background: linear-gradient(to right, #ffa500, #ff5733);
    padding: 10px;
    font-size: 1.3rem;
  }
  
  .tabs {
    background: linear-gradient(to right, #ffa500, #ff5733);
    padding: 1px;
    margin-top: -21px;
  }
  
  .subTabsStyles{
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.8), rgb(211, 209, 206,0.3));
  
  
  }
  
  