body{
  overflow: hidden;
}

.sub-tabs-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* مقدار دلخواه برای فاصله بین زیرتب‌ها */
  }
  
  .sub-tab {
    flex: 1;
    text-align: center;
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .sub-tab img {
    max-width: 100%;
    height: auto;
    margin-bottom: 8px;
  }
  